body {
  background-image: url("../img/breaking_bad.jpg");
}
ol {
  color:green;
}
h2 {
  color:red;
  text-decoration:underline;
}
ul {
  color:cyan;
  font-size:20px;
}
iframe {
  float: right;
  margin-left: -40px;
  margin-top: -700px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 40%;
  background-color: #F0ECF1;
}

td, th {
  border: 2px solid #F2C666;
  text-align: left;
  padding: 8px;
}