body {
  background-color: #b8f2fc;
  margin: auto;
  padding: 3% 25% 0 25%;
}

#about {
  font-size: 26px;
}

#selfie {
  float: right;
  padding: 1% 1% 1% 1%;
}

footer {
  width:100%;
  position:absolute;
  bottom: 0;
  left: 0;
  background-color:lightgrey;
  text-align: center;
}