body {
    background-color:khaki;
    margin: 0;
}

nav {
    background: #333;
    color: white;
    padding: 0;
    font-size: 25px;
    padding-left: 15px;
    padding-right: ;
    height: 20vh;
    min-height: 50px;
}

span.title {
    font-family: cursive;
    color: rebeccapurple;
}

span.version {
    font-size: 9px;
    display: block;
    position: relative;
    top: -5px;
    left: 5px;
}
#body {
    padding: 20px;
    font-size: 18px;
    text-align: center;
    background-color: aquamarine;
    height: 20vh;
}

.banner{
    color: black;
    font-family: Arial;
    padding-bottom: 30px;
    height: 300px;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: coral;

}

h1 {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4c4c4c+0,2c2c2c+1,2c2c2c+1,595959+12,666666+28,474747+39,111111+54,2b2b2b+76,000000+81,000000+81,1c1c1c+91,131313+100 */
    background: rgb(76,76,76); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(76,76,76,1) 0%, rgba(44,44,44,1) 1%, rgba(44,44,44,1) 1%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 28%, rgba(71,71,71,1) 39%, rgba(17,17,17,1) 54%, rgba(43,43,43,1) 76%, rgba(0,0,0,1) 81%, rgba(0,0,0,1) 81%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(44,44,44,1) 1%,rgba(44,44,44,1) 1%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 28%,rgba(71,71,71,1) 39%,rgba(17,17,17,1) 54%,rgba(43,43,43,1) 76%,rgba(0,0,0,1) 81%,rgba(0,0,0,1) 81%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(76,76,76,1) 0%,rgba(44,44,44,1) 1%,rgba(44,44,44,1) 1%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 28%,rgba(71,71,71,1) 39%,rgba(17,17,17,1) 54%,rgba(43,43,43,1) 76%,rgba(0,0,0,1) 81%,rgba(0,0,0,1) 81%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
    color: white;
}

footer, #content {
    text-align: left;
    width: calc(100% - 30px);
    margin: 50px auto 0 auto;
}

.float-right {
    float: right;
}

@media(max-width: 640px) {
    .float-right {
        float: initial;
        width: 100%;
        height: auto;
    }
}

@media screen and (min-width: 320px) {
    body {
      font-size: 16px;
      transition: font-size 3s;
    }
  }

@media screen and (min-width: 780px) {
    body {
      font-size: 24px;
      transition: font-size 3s;
    }
}

footer {
    margin-top: 40px;
    font-size: 14px;
    text-align: center;
    width: 100%;
}
