body {
  padding: 2% 15% 2% 15%;
  background-color: #afb3b1;
}
h1, h3 {
  text-align:center;
}
p, a {
  font-size:20px;
  font-family:Arial;
}
img {
  border-radius: 20px;
  width: 17vw;
}
.main {
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 20px;
}

.profile {
  width: 80%;
	background-color: #cccccc;
	padding: 5px 10px 5px 10px;
  border-radius: 10px;
}
#ohjelmointitaidot {
	position:relative;
}
